@page
@model IndexModel
@{
    ViewData["Title"] = "Conwy Cafe";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@* <form method="post">
    <input type="number" name="num1" step="any" placeholder="First Number" /> +
    <input type="number" name="num2" step="any" placeholder="Second Number" />
    <button type="submit">Calculate via API</button>
</form>

@if (!string.IsNullOrEmpty(Model.DisplayResult))
{
    <h3 style="color: green;">@Model.DisplayResult</h3>
} *@

@foreach (var basket in Model.Baskets)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Basket ID: @basket.Id</h5>
            <p class="card-text">Basket Name: @basket.Name</p>
            <p class="card-text">Total Price: @basket.Price.ToString()</p>
            <p class="card-text">Items:</p>
            @* <ul>
                @foreach (var item in basket)
                {
                    <li>@item.Name - Quantity: @item.Quantity, Price: @item.Price.ToString("C")</li>
                }
            </ul> *@
        </div>
    </div>
}